*{
margin:0px;
padding: 0px;}

#header{
	background-color: #000000;
	padding-top: 20px;

}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
    transition: 0.2s;
}
.hamburger{
	display: none;
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 1;
	background-color: #1fc2ff;
	padding: 7px;
}
.hamburger:hover{
	background-color:#000000; 
	cursor: pointer;
}
#language{
	float: right;

}
#header aside span{
	color:#777777;
}
#header aside{
	float: right;
}
#header aside .btn-dark{
	background-color: #000000 !important;

}
#header aside .dropdown-item {
	background-color: #000000 !important;
	color:white;
}
#header aside .dropdown-menu{
background-color: #000000 !important;
}
#second_row{
	margin-top: 20px;
	padding-bottom: 10px;
	height: 7vh;
	min-height: 30px;
}
#first_row{
	height: 10vh; 
	min-height: 65px;
}
#second_row .nav-link{
	margin-right: 50px;
	color:white;
}
#second_row .nav-link:hover{
	color:#3691e5;
}
#second_row .nav-link:first-child{
	padding-left: 0px !important;
}
#second_row input{
	background-color: black;
	border: none;
	color: white;
	padding-left: 15px;
}
#second_row button{
	color:white;
	background-color:#000000; 
	border: none;
	padding-right: 5px;
}
#second_row aside{
	float: right;
	border: 1px solid gray;
}
#thrid_row{
	background-image: url(images/main-logo.png);
	background-position: 60% 40%;
	background-repeat: no-repeat;
	height: 81vh;
	background-size: cover;
	min-height: 380px;
}
#main_info{
	text-transform: uppercase;
	float: left !important;
	margin-top: 7%;
}
#main_info h4{
	color: white;
}
#main_info h2{
	color: #1fc2ff;
	font-size:4em;
}
#check_info{
	 background-color:#000000; 
	margin-top: 50px;
    color: #1fc2ff;
    text-transform: uppercase;
    font-weight: bold;
    padding:15px;
    border: 1px solid #1fc2ff;
    border-radius: 7px;
}
#check_info:hover{
	color: white;
	border: 1px solid white
}
#main_info .slider-buttons{
	border: 1px solid #1fc2ff;
	border-radius: 50%;
	padding: 13px;
	background-color:#000000; 
	margin-right: 22px;	
}
#main_info .slider-buttons:hover{
	border:1px solid #000000; 
	background-color: white;
}
#btn_section{
	margin-top: 70px;
}
#products h3{
	text-align: center;
	margin-bottom: 50px;
	text-transform: uppercase;
	margin-top: 15px;
	color: #1fc2ff;
	font-size: 2.5em;
}
#products a{
	color:black;
	text-decoration: none;
}
.product1{
text-align: center !important;
text-transform: uppercase;
margin-bottom: 30px;
}
.product1 section {
	min-height: 142px;
}
.product1 h2{
	font-size: 1.0em  !important;
	margin-top: 20px;
	font-weight: bold;
}
#newsletter_box h3{
color: white;
text-transform: uppercase;
font-size: 1.5em;
}
#newsletter_box h1{
color: #1fc2ff;
text-transform: uppercase;
font-size: 3.5em;
}
#newsletter_box input{
padding-left: 10px;
border:1px solid gray;
background-color: #000000;
color: gray;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: 0px;
}
#newsletter{
background-image: url(images/photo1.png);
background-position: center center;
background-repeat: no-repeat;
height: 50vh;
background-size: cover;
min-height: 250px;
max-height: 100%;
}
#newsletter_box{
margin-top: 8%;	
}
#newsletter_box button{
	color: #1fc2ff;
	font-size: 1.5em;
	padding-bottom: 7px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #1fc2ff;
	background-color: #000000;
	margin-bottom: 0px !important;
	border-radius: 5px;
}
#newsletter_box button:hover{
	color: white;
	border: 1px solid white;
}
#about_us{
	text-align: center;
	padding-top: 25px;
	padding-bottom: 35px;
}
#about_us h3{
	color: #1fc2ff;
	text-transform: uppercase;
	margin-bottom: 30px;
}
#about_us p{
	color:black;
	text-align: justify;
}
#about_us a{
	color: #1fc2ff;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
#about_us button{
	margin-top: 3%;
	border: none;
	background-color:white; 
	padding: 5px;
}
footer{
background-color: #000000;
padding-top: 20px;
padding-bottom: 20px;
}
footer .nav-link {
	color:white !important;
}
footer .nav-link:hover {
	color:#1fc2ff !important;
}
@media only screen and (max-width: 1200px){

#second_row .nav-link{
	margin-right: 20px;	
}
}
@media only screen and (max-width: 990px){
#second_row .nav-link{
	margin-right: 5px;	
}
}
@media only screen and (max-width: 770px){

#second_row aside{
	margin-top: 15px;
	float: left;
}
#second_row{
	min-height: 50px;
}
#thrid_row{
	height: 70vh;
	background-position: 60% 40%;
}
#main_info h4{
	font-size: 1.2em;
}
#main_info h2{
	font-size:3em;
}
#check_info{
    padding:12px;
}
#newsletter_box h3{

font-size: 1.2em;
}
#newsletter_box h1{

font-size: 3.0em;
}
#newsletter_box section{
	margin-top: 30px;
}
}
@media only screen and (max-width: 760px){
#second_row{
	margin-left: auto;
	margin-right: auto;
	display: none;
	height: 100vh;
	position: fixed;
	top: -20px;
	left: 0px;
	background-color: #1fc2ff;
	width: 80%;
	z-index: 1;
}
#second_row aside{
	margin-top: 0px;
	width: 100%;
	background-color: #1fc2ff;
	margin: 0 auto;
	border: none;
}
#second_row aside button{
	float: left;
	background-color: #1fc2ff;
 border-top:1px solid white;
border-right:1px solid white;
border-bottom:1px solid white;
}
#second_row input{
background-color: #1fc2ff;
float: left;
margin-left: 25%;
border-top:1px solid white;
border-left:1px solid white;
border-bottom:1px solid white;
}
.nav{
	height: 45vh !important;
	margin-top: 20px;
	
}
.nav-item{
width: 100% !important;
text-align: center;
font-size: 1.2em;
}
.nav-link{
	padding: 0px !important;
}
#thrid_row{
	height: 88vh;
}
.hamburger{
	display: block;
	float: right;
}
.lingua{
	display: none;
}
#about_us{
	min-height: 100vh;
	font-size: 1.1em;
}
#about_us button{
	margin-top: 5%;
}
#products{
	min-height: 100vh;
}
}
@media only screen and (max-width: 570px){
#thrid_row{
	background-position: 80% 20%;
}

}
@media only screen and (max-width: 550px){
#thrid_row{
	background-position: 70% 30%;
}
}
@media only screen and (max-width: 470px){
#thrid_row{
	background-position: 60% 40%;
}
#newsletter_box h3{
	font-size: 1em;
}
#newsletter_box h1{
	font-size: 2.0em;
}
#newsletter_box section{
	width: 50%;
}
#newsletter_box section button{
	margin-top: 10%;
}
#newsletter{
	background-position: 55% 45%;
}
}
@media only screen and (max-width: 400px){

#newsletter{
	background-position: 52% 50%;
}
}

