/*---[ Resets ]------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, big, em, img, q,
small, strong, tt, var, b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { border:0; margin:0; outline:0; padding:0; vertical-align:baseline }
h1, h2, h3, h4, h5, h6 { font-weight: normal }
a img, :link img, :visited img, :active img, :hover img, fieldset, abbr, acronym { border:0 }
a{text-decoration:none;}
table { border-collapse:collapse; border-spacing:0 }
th, caption { text-align:left }
form { display:inline; margin:0; padding:0 }
input, select { font:1em/1.25 Arial, Helvetica, sans-serif }
input[type="button"] { cursor:pointer }
blockquote, q {  quotes: none }
:focus { outline: 0 }
label:hover { cursor:pointer }
ol, ul { list-style: none }
.bx { margin-bottom:10px }
.block { display:block }
.nowrap { white-space:nowrap !important }
.hlink { text-decoration:none !important }
.hlink:hover { text-decoration:underline !important }
.clr { font-size:0; clear:both; height:0; line-height:0 }
.red { color:#d10000 !important }
.gray { color:#777 !important }
.black { color:#000 !important }
.orange { color:#f63 !important }
.green { color:#429706 !important }
section, header, footer, nav { display:block }
form input[type=text] { color:#565c62 }
form input[type=submit] { cursor:pointer }
form input[type=submit]:hover { opacity:.9 }
form input.placeholder { font:bold 12px Arial; color:#bbb !important }
textarea
{
   resize: none;
}
header,footer,nav,slider,article,aside,section{display:block;}

img {
	max-width: 100%;
	height: auto;
}

a, a:hover{
-webkit-transition: all 200ms ease;
-moz-transition: all 200ms ease;
-ms-transition: all 200ms ease;
-o-transition: all 200ms ease;
transition: all 200ms ease;
cursor:pointer;
}
li, li:hover{
-webkit-transition: all 200ms ease;
-moz-transition: all 200ms ease;
-ms-transition: all 200ms ease;
-o-transition: all 200ms ease;
transition: all 200ms ease;
cursor:pointer;
}
/*---[ Conteiner/Strona glowna ]----------------g p d l--------------------------------------*/
#circle{
	position: fixed;
}
#header{
position: relative;
}
#bgvid{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    background-size: cover;
}
#header .openmenu .ln1,#header .openmenu .ln2,#header .openmenu .ln3 {
    width: 40px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.2s;
}
#header .openmenu .ln4{
	background-color: black !important;
}
#header .change .ln1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
#header .change .ln2 {
    opacity: 0;
}
#header .change .ln3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
#header .openmenu{
	position: fixed;
	right: 50px;
	top: 40px;
	z-index: 50;
}
#header .openmenu:hover{
	cursor: pointer;
}
#header .navmenu{
	background-color: #0093dd;
	position: absolute;
	opacity: 0.7;
	display: table;
	z-index: 1;
	position: fixed;
	z-index: 3;
}
#header .navmenu_ative{
	width: 100%;
	height:100vh;
}
#header .navmenu li{
	width: 100%;
	text-align: center;
	font-size: 3.0em;
	min-width: 100%;
	margin-bottom: 20px;
	z-index: 4;
}
#header .navmenu li a {
	color: #f8fdff;	
	text-decoration: none;
	width: 100%;
	text-transform: uppercase;
	padding: 15px;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
#header .nav{
	width: 100%;
	display: none;
	padding-top: 50px;
}
#header .nav_active{
	display: table-cell !important;
	vertical-align: middle;
}
#header .navmenu li a:hover{
	background-color: #ffffff;
	color:#0093dd !important;
}
/*---podstrona skyline-------------------------------------*/
#logo{
	height: 35vh;
	padding-bottom:50px;
	padding-top: 20px;
	min-height: 150px !important;
	display: flex;
	justify-content: center;
align-items: center; 
}
#logo img{
	margin:0 auto;
	max-height: 180px;
	min-height: 110px;
}
#header .main_text{
	width: 100%;
	height: 65vh;
	background:url(images/sky.jpg);
	background-size: cover;
	background-position: center;
	font-family: 'Roboto', sans-serif; 
	color: black;
	background-attachment: fixed;
	display: flex;
justify-content: center;
align-items: center; 
min-height: 200px;
}

#header .main_text h3{
	text-transform: uppercase;
	font-size: 2.0em;
	font-weight: 900;
	text-align: center;
	font-family: 'Roboto', sans-serif; 

}
#header .main_text h1{
	text-transform: uppercase;
	font-size: 3.0em;
	text-align: center;
	font-weight:normal; 
	color: #828488;
	font-family: 'Open Sans', sans-serif; 
	font-weight: 300;
}
#content{
	background-color: #fff;
}
#content .products{
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 70px;
}
#content .products h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 3.0em;
	color: #000;
	 font-family: 'Roboto', sans-serif; 
	 font-weight: bold;
	 margin-bottom: 50px;
}
#content .products h2{
	text-align: center;
	 font-family: 'Roboto', sans-serif; 
	 color: #000;
	 text-transform: uppercase;
	 font-weight: bold;
	 font-size: 1.5em;
}
#content .products p{
	text-align: justify;
	font-size: 1.0em;
	color: #000;
	font-family: 'Roboto', sans-serif;
}
#contact{
	margin-top: 90px;
	margin-bottom: 30px;
}
#contact h1{
	text-align: center;
	font-size: 3.0em;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	margin-bottom: 0px;
}
#contact h2{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	color: #403c39;
	margin-top: 0px;
	margin-bottom: 30px;
}
#contact span{
	margin: 0 auto;
	width: 450px;
	display: block;

}
#contact button{
	border: 5px solid #1f1a17;
	background-color: #fff;
	text-align: center;
	width: 200px;
	margin-left: 20px;
	font-size: 1.3em;
	font-weight: 900;
}
#footer{
	background-color: #eff0f1;
	padding-top: 60px;
	padding-bottom: 60px;
}
#footer h4{
	margin-top: 30px;
	font-size: 0.9em;
	color:#403c39;
	letter-spacing: 0.3em;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
#footer h5{
	font-family: 'Roboto', sans-serif;
	font-size: 0.8em;
	text-align: center;
	color: #000;
	margin-top: 30px;
}
#step_up{
	margin: 0 auto;
	height: 80px;
}
#step_up:hover{
	cursor: pointer;
}



@media only screen and (max-width: 1200px){
#logo img{

	max-height: 160px;
}
}

@media only screen and (max-width: 1000px){

#logo img{

	max-height: 140px;
}
	#header .main_text h1{
	font-size: 2.5em;
	 
}
#header .main_text h3{
	font-size: 1.8em;
}
}
@media only screen and (max-width: 900px){

}

@media only screen and (max-width: 800px){
#header .navmenu li{
	font-size: 2.5em;
}
#header .main_text h3{
	font-size: 1.5em;
}
	#header .main_text h1{
	font-size: 2.0em;
	 
}
#logo img{

	max-height: 120px;
}
#logo{
	height: 35vh;
	
}
#header .main_text{

	height: 65vh;
	}
	#header .nav_active{
		vertical-align: initial;
	}
	#header .navmenu li{
	
	
	font-size: 2.0em;
	margin-bottom: 10px;
	z-index: 4;
}
}

@media only screen and (max-width: 600px){
	#header .main_text h1{
	font-size: 1.8em;
	 
}
#header .main_text h3{
	font-size: 1.3em;
}
#header .openmenu{
	right: 15px;
	top: 20px;	
}
#content .products{
	padding-left: 10%;
	padding-right: 10%;
	
}
#content .products h1 {
	
	font-size: 2.0em;
	
}
#content .products h2{

	 font-size: 1.1em;
}
#content .products p{
	
	font-size: 0.9em;
	
}
}

@media only screen and (max-width:500px){
		#header .main_text h1{
	font-size: 1.5em;
	
}
#header .main_text h3{
	font-size: 1.1em;
}
#contact h1{
	
	font-size: 2.0em;
	
}
#contact h2{
	
	font-size: 1.2em;
	
	margin-bottom: 30px;
}
#contact span{
	margin: 0 auto;
	width: 100%;
	display: block;

}
#contact button{
	
	
	width: 70%;
	display: block;
	margin: 5px auto;
	
}
}
@media only screen and (max-width: 450px){

		#header .main_text h1{
	font-size: 1.3em;
	 
}
#header .main_text h3{
	font-size: 1.0em;
}
}
@media only screen and (max-width: 350px){
	#logo img{

	max-height: 110px;
}
}
